.chat-app {
  position: absolute;
  width: 490px;
  top: 20px;
  right: 0;

  form {
    padding-right: 40px;
  }

  input {
    float: left;
    width: 290px;
    height: 54px;
    border: 2px dotted #fff;
    padding-left: 20px;
    outline: none;
  }

  button.btn {
    float: right;
    font-family: 'ElektraLightPro', Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 27px;
    margin-left: 20px;
    height: 54px;
    width: 130px;
    font-size: 14px;
    padding-top: 5px;

    &:hover {
      border-color: #ad7512;
    }
  }

  .message-container {
    height: 425px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;

    div {
      margin-bottom: 5px;
    }

    a {
      text-decoration: underline;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.chat-init-message {
  text-align: center;
  padding-top: 100px;
}

.chat-btn-history {
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 5px;
  font-size: 13px;
}

.chat-user-info {
  top: 300px;
  left: 500px;
  position: absolute;
  display: none;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  border-radius: 90px;
  border: 2px solid #fff;
  z-index: 100;
  padding: 35px 30px 0;
  font-size: 14px;

  a {
    text-decoration: underline;
  }

  div {
    margin-top: 10px;
  }
}



