.battle-app {
  /*text-align: center;*/
  width: 1200px;
  min-height: 600px;
  margin: 0 auto;

  .timer {
    text-align: center;
    font-family: 'Beryozki', Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
    position: absolute;
    top: 30px;
    left: 360px;
  }

  h2 {
    text-align: center;
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  button.btn {
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 90px;
    border-radius: 45px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
  }

  .gamer {
    width: 130px;
    padding-bottom: 20px;
    position: absolute;
    left: 10px;

    &.killed {
      opacity: 0.2;
    }

    .info {
      position: relative;
      float: right;
      font-family: 'Beryozki', Arial, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
    }

    img.flag {
      max-width: 115px;
      display: block;
      margin: 10px auto;
    }

    .name {
      text-align: center;
      padding: 0 5px;

    }
  }

  .arrow {
    display: none;
    position: absolute;
    left: 146px;

    &.active {
      display: block;
      position: absolute;
      left: 146px;
    }
  }

  .arrow1 {
    width: 74px;
    height: 238px;
    top: 80px;
    background-image: url('../img/arrow1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .arrow2 {
    width: 71px;
    height: 52px;
    top: 270px;
    background-image: url('../img/arrow2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .arrow3 {
    width: 77px;
    height: 239px;
    top: 300px;
    background-image: url('../img/arrow3.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .mark-red {
    position: absolute;
    width: 39px;
    height: 40px;
    top: 30px;
    left: 0;
    background-image: url('../img/gamer_red.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .mark-green {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 415px;
    left: 0;
    background-image: url('../img/gamer_green.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .mark-brown {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 225px;
    left: 0;
    background-image: url('../img/gamer_brown.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .gamer1 {
    top: 15px;
  }

  .gamer2 {
    top: 210px;
  }

  .gamer3 {
    top: 400px;
  }


  .battlefield {
    position: absolute;
    width: 336px;
    height: 347px;
    top: 118px;
    left: 220px;
    background-image: url('../img/field.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .cell {
    position: absolute;
    width: 30px;
    height: 30px;
    /*border: 1px solid #ffff00;*/
    z-index: 10;

    &.active:hover {
      background-image: url('../img/aim.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  .cell1A {
    top: 152px;
    left: 244px;
  }

  .cell1B {
    top: 152px;
    left: 275px;
  }

  .cell1C {
    top: 152px;
    left: 306px;
  }

  .cell1D {
    top: 152px;
    left: 337px;
  }

  .cell1E {
    top: 152px;
    left: 368px;
  }

  .cell1F {
    top: 152px;
    left: 399px;
  }

  .cell1G {
    top: 152px;
    left: 430px;
  }

  .cell1H {
    top: 152px;
    left: 461px;
  }

  .cell1I {
    top: 152px;
    left: 492px;
  }

  .cell1J {
    top: 152px;
    left: 523px;
  }

  .cell2A {
    top: 183px;
    left: 244px;
  }

  .cell2B {
    top: 183px;
    left: 275px;
  }

  .cell2C {
    top: 183px;
    left: 306px;
  }

  .cell2D {
    top: 183px;
    left: 337px;
  }

  .cell2E {
    top: 183px;
    left: 368px;
  }

  .cell2F {
    top: 183px;
    left: 399px;
  }

  .cell2G {
    top: 183px;
    left: 430px;
  }

  .cell2H {
    top: 183px;
    left: 461px;
  }

  .cell2I {
    top: 183px;
    left: 492px;
  }

  .cell2J {
    top: 183px;
    left: 523px;
  }

  .cell3A {
    top: 214px;
    left: 244px;
  }

  .cell3B {
    top: 214px;
    left: 275px;
  }

  .cell3C {
    top: 214px;
    left: 306px;
  }

  .cell3D {
    top: 214px;
    left: 337px;
  }

  .cell3E {
    top: 214px;
    left: 368px;
  }

  .cell3F {
    top: 214px;
    left: 399px;
  }

  .cell3G {
    top: 214px;
    left: 430px;
  }

  .cell3H {
    top: 214px;
    left: 461px;
  }

  .cell3I {
    top: 214px;
    left: 492px;
  }

  .cell3J {
    top: 214px;
    left: 523px;
  }

  .cell4A {
    top: 245px;
    left: 244px;
  }

  .cell4B {
    top: 245px;
    left: 275px;
  }

  .cell4C {
    top: 245px;
    left: 306px;
  }

  .cell4D {
    top: 245px;
    left: 337px;
  }

  .cell4E {
    top: 245px;
    left: 368px;
  }

  .cell4F {
    top: 245px;
    left: 399px;
  }

  .cell4G {
    top: 245px;
    left: 430px;
  }

  .cell4H {
    top: 245px;
    left: 461px;
  }

  .cell4I {
    top: 245px;
    left: 492px;
  }

  .cell4J {
    top: 245px;
    left: 523px;
  }

  .cell5A {
    top: 276px;
    left: 244px;
  }

  .cell5B {
    top: 276px;
    left: 275px;
  }

  .cell5C {
    top: 276px;
    left: 306px;
  }

  .cell5D {
    top: 276px;
    left: 337px;
  }

  .cell5E {
    top: 276px;
    left: 368px;
  }

  .cell5F {
    top: 276px;
    left: 399px;
  }

  .cell5G {
    top: 276px;
    left: 430px;
  }

  .cell5H {
    top: 276px;
    left: 461px;
  }

  .cell5I {
    top: 276px;
    left: 492px;
  }

  .cell5J {
    top: 276px;
    left: 523px;
  }

  .cell6A {
    top: 307px;
    left: 244px;
  }

  .cell6B {
    top: 307px;
    left: 275px;
  }

  .cell6C {
    top: 307px;
    left: 306px;
  }

  .cell6D {
    top: 307px;
    left: 337px;
  }

  .cell6E {
    top: 307px;
    left: 368px;
  }

  .cell6F {
    top: 307px;
    left: 399px;
  }

  .cell6G {
    top: 307px;
    left: 430px;
  }

  .cell6H {
    top: 307px;
    left: 461px;
  }

  .cell6I {
    top: 307px;
    left: 492px;
  }

  .cell6J {
    top: 307px;
    left: 523px;
  }

  .cell7A {
    top: 338px;
    left: 244px;
  }

  .cell7B {
    top: 338px;
    left: 275px;
  }

  .cell7C {
    top: 338px;
    left: 306px;
  }

  .cell7D {
    top: 338px;
    left: 337px;
  }

  .cell7E {
    top: 338px;
    left: 368px;
  }

  .cell7F {
    top: 338px;
    left: 399px;
  }

  .cell7G {
    top: 338px;
    left: 430px;
  }

  .cell7H {
    top: 338px;
    left: 461px;
  }

  .cell7I {
    top: 338px;
    left: 492px;
  }

  .cell7J {
    top: 338px;
    left: 523px;
  }

  .cell8A {
    top: 369px;
    left: 244px;
  }

  .cell8B {
    top: 369px;
    left: 275px;
  }

  .cell8C {
    top: 369px;
    left: 306px;
  }

  .cell8D {
    top: 369px;
    left: 337px;
  }

  .cell8E {
    top: 369px;
    left: 368px;
  }

  .cell8F {
    top: 369px;
    left: 399px;
  }

  .cell8G {
    top: 369px;
    left: 430px;
  }

  .cell8H {
    top: 369px;
    left: 461px;
  }

  .cell8I {
    top: 369px;
    left: 492px;
  }

  .cell8J {
    top: 369px;
    left: 523px;
  }

  .cell9A {
    top: 400px;
    left: 244px;
  }

  .cell9B {
    top: 400px;
    left: 275px;
  }

  .cell9C {
    top: 400px;
    left: 306px;
  }

  .cell9D {
    top: 400px;
    left: 337px;
  }

  .cell9E {
    top: 400px;
    left: 368px;
  }

  .cell9F {
    top: 400px;
    left: 399px;
  }

  .cell9G {
    top: 400px;
    left: 430px;
  }

  .cell9H {
    top: 400px;
    left: 461px;
  }

  .cell9I {
    top: 400px;
    left: 492px;
  }

  .cell9J {
    top: 400px;
    left: 523px;
  }


  .cell10A {
    top: 431px;
    left: 244px;
  }

  .cell10B {
    top: 431px;
    left: 275px;
  }

  .cell10C {
    top: 431px;
    left: 306px;
  }

  .cell10D {
    top: 431px;
    left: 337px;
  }

  .cell10E {
    top: 431px;
    left: 368px;
  }

  .cell10F {
    top: 431px;
    left: 399px;
  }

  .cell10G {
    top: 431px;
    left: 430px;
  }

  .cell10H {
    top: 431px;
    left: 461px;
  }

  .cell10I {
    top: 431px;
    left: 492px;
  }

  .cell10J {
    top: 431px;
    left: 523px;
  }

  .ship-red {
    background-image: url('../img/ship_red.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .ship-red-killed {
    background-image: url('../img/ship_red_killed.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .ship-green {
    background-image: url('../img/ship_green.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .ship-green-killed {
    background-image: url('../img/ship_green_killed.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .ship-brown {
    background-image: url('../img/ship_brown.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .ship-brown-killed {
    background-image: url('../img/ship_brown_killed.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .cell-empty {
    background-image: url('../img/empty.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .imperial-part {
    background-color: rgba(0,0,0,0.75);
    background-image: url('../img/empty.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .imperial-h {
    background-image: url("../img/imperial_killed_h.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 92px;
    height: 30px;
    z-index: 11;
    top: 369px;
    left: 368px;
  }

  .imperial-v {
    background-image: url("../img/imperial_killed_v.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 92px;
    z-index: 11;
    top: 276px;
    left: 492px;
  }

  .answer-timer {
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
  }

  .question {
    margin: 20px 75px;
    font-size: 18px;
  }

  .answers {
    margin: 0 75px 20px;
    text-align: left;
  }

  .answers label {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .user-panel {
    color: #ee0000;
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    width: 315px;
    height: 40px;
    top: 490px;
    left: 241px;
    border: 0 solid #fff;
    text-align: center;
  }

  .connection-panel {
    font-family: 'ElektraLightPro', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    width: 315px;
    height: 40px;
    top: 540px;
    left: 241px;
    border: 0 solid #fff;
    text-align: center;
  }
}

.sl-spinner {
  margin: 20px auto 0;
}

@keyframes blinker {
  50% { opacity: 0; }
}

@import "./chat";