.battle-app {
  /*text-align: center;*/
  width: 1200px;
  min-height: 600px;
  margin: 0 -96px; }
  .battle-app .timer {
    text-align: center;
    font-family: 'Beryozki', Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
    position: absolute;
    top: 30px;
    left: 360px; }
  .battle-app h2 {
    text-align: center;
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .battle-app button.btn {
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 90px;
    border-radius: 45px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase; }
  .battle-app .gamer {
    width: 130px;
    padding-bottom: 20px;
    position: absolute;
    left: 10px; }
    .battle-app .gamer.killed {
      opacity: 0.2; }
    .battle-app .gamer .info {
      position: relative;
      float: right;
      font-family: 'Beryozki', Arial, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase; }
    .battle-app .gamer img.flag {
      max-width: 115px;
      display: block;
      margin: 10px auto; }
    .battle-app .gamer .name {
      text-align: center;
      padding: 0 5px; }
  .battle-app .arrow {
    display: none;
    position: absolute;
    left: 146px; }
    .battle-app .arrow.active {
      display: block;
      position: absolute;
      left: 146px; }
  .battle-app .arrow1 {
    width: 74px;
    height: 238px;
    top: 80px;
    background-image: url("../img/arrow1.png");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .battle-app .arrow2 {
    width: 71px;
    height: 52px;
    top: 270px;
    background-image: url("../img/arrow2.png");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .battle-app .arrow3 {
    width: 77px;
    height: 239px;
    top: 300px;
    background-image: url("../img/arrow3.png");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .battle-app .mark-red {
    position: absolute;
    width: 39px;
    height: 40px;
    top: 30px;
    left: 0;
    background-image: url("../img/gamer_red.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10; }
  .battle-app .mark-green {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 415px;
    left: 0;
    background-image: url("../img/gamer_green.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10; }
  .battle-app .mark-brown {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 225px;
    left: 0;
    background-image: url("../img/gamer_brown.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10; }
  .battle-app .gamer1 {
    top: 15px; }
  .battle-app .gamer2 {
    top: 210px; }
  .battle-app .gamer3 {
    top: 400px; }
  .battle-app .battlefield {
    position: absolute;
    width: 336px;
    height: 347px;
    top: 118px;
    left: 220px;
    background-image: url("../img/field.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2; }
  .battle-app .cell {
    position: absolute;
    width: 30px;
    height: 30px;
    /*border: 1px solid #ffff00;*/
    z-index: 10; }
    .battle-app .cell.active:hover {
      background-image: url("../img/aim.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      cursor: pointer; }
  .battle-app .cell1A {
    top: 152px;
    left: 244px; }
  .battle-app .cell1B {
    top: 152px;
    left: 275px; }
  .battle-app .cell1C {
    top: 152px;
    left: 306px; }
  .battle-app .cell1D {
    top: 152px;
    left: 337px; }
  .battle-app .cell1E {
    top: 152px;
    left: 368px; }
  .battle-app .cell1F {
    top: 152px;
    left: 399px; }
  .battle-app .cell1G {
    top: 152px;
    left: 430px; }
  .battle-app .cell1H {
    top: 152px;
    left: 461px; }
  .battle-app .cell1I {
    top: 152px;
    left: 492px; }
  .battle-app .cell1J {
    top: 152px;
    left: 523px; }
  .battle-app .cell2A {
    top: 183px;
    left: 244px; }
  .battle-app .cell2B {
    top: 183px;
    left: 275px; }
  .battle-app .cell2C {
    top: 183px;
    left: 306px; }
  .battle-app .cell2D {
    top: 183px;
    left: 337px; }
  .battle-app .cell2E {
    top: 183px;
    left: 368px; }
  .battle-app .cell2F {
    top: 183px;
    left: 399px; }
  .battle-app .cell2G {
    top: 183px;
    left: 430px; }
  .battle-app .cell2H {
    top: 183px;
    left: 461px; }
  .battle-app .cell2I {
    top: 183px;
    left: 492px; }
  .battle-app .cell2J {
    top: 183px;
    left: 523px; }
  .battle-app .cell3A {
    top: 214px;
    left: 244px; }
  .battle-app .cell3B {
    top: 214px;
    left: 275px; }
  .battle-app .cell3C {
    top: 214px;
    left: 306px; }
  .battle-app .cell3D {
    top: 214px;
    left: 337px; }
  .battle-app .cell3E {
    top: 214px;
    left: 368px; }
  .battle-app .cell3F {
    top: 214px;
    left: 399px; }
  .battle-app .cell3G {
    top: 214px;
    left: 430px; }
  .battle-app .cell3H {
    top: 214px;
    left: 461px; }
  .battle-app .cell3I {
    top: 214px;
    left: 492px; }
  .battle-app .cell3J {
    top: 214px;
    left: 523px; }
  .battle-app .cell4A {
    top: 245px;
    left: 244px; }
  .battle-app .cell4B {
    top: 245px;
    left: 275px; }
  .battle-app .cell4C {
    top: 245px;
    left: 306px; }
  .battle-app .cell4D {
    top: 245px;
    left: 337px; }
  .battle-app .cell4E {
    top: 245px;
    left: 368px; }
  .battle-app .cell4F {
    top: 245px;
    left: 399px; }
  .battle-app .cell4G {
    top: 245px;
    left: 430px; }
  .battle-app .cell4H {
    top: 245px;
    left: 461px; }
  .battle-app .cell4I {
    top: 245px;
    left: 492px; }
  .battle-app .cell4J {
    top: 245px;
    left: 523px; }
  .battle-app .cell5A {
    top: 276px;
    left: 244px; }
  .battle-app .cell5B {
    top: 276px;
    left: 275px; }
  .battle-app .cell5C {
    top: 276px;
    left: 306px; }
  .battle-app .cell5D {
    top: 276px;
    left: 337px; }
  .battle-app .cell5E {
    top: 276px;
    left: 368px; }
  .battle-app .cell5F {
    top: 276px;
    left: 399px; }
  .battle-app .cell5G {
    top: 276px;
    left: 430px; }
  .battle-app .cell5H {
    top: 276px;
    left: 461px; }
  .battle-app .cell5I {
    top: 276px;
    left: 492px; }
  .battle-app .cell5J {
    top: 276px;
    left: 523px; }
  .battle-app .cell6A {
    top: 307px;
    left: 244px; }
  .battle-app .cell6B {
    top: 307px;
    left: 275px; }
  .battle-app .cell6C {
    top: 307px;
    left: 306px; }
  .battle-app .cell6D {
    top: 307px;
    left: 337px; }
  .battle-app .cell6E {
    top: 307px;
    left: 368px; }
  .battle-app .cell6F {
    top: 307px;
    left: 399px; }
  .battle-app .cell6G {
    top: 307px;
    left: 430px; }
  .battle-app .cell6H {
    top: 307px;
    left: 461px; }
  .battle-app .cell6I {
    top: 307px;
    left: 492px; }
  .battle-app .cell6J {
    top: 307px;
    left: 523px; }
  .battle-app .cell7A {
    top: 338px;
    left: 244px; }
  .battle-app .cell7B {
    top: 338px;
    left: 275px; }
  .battle-app .cell7C {
    top: 338px;
    left: 306px; }
  .battle-app .cell7D {
    top: 338px;
    left: 337px; }
  .battle-app .cell7E {
    top: 338px;
    left: 368px; }
  .battle-app .cell7F {
    top: 338px;
    left: 399px; }
  .battle-app .cell7G {
    top: 338px;
    left: 430px; }
  .battle-app .cell7H {
    top: 338px;
    left: 461px; }
  .battle-app .cell7I {
    top: 338px;
    left: 492px; }
  .battle-app .cell7J {
    top: 338px;
    left: 523px; }
  .battle-app .cell8A {
    top: 369px;
    left: 244px; }
  .battle-app .cell8B {
    top: 369px;
    left: 275px; }
  .battle-app .cell8C {
    top: 369px;
    left: 306px; }
  .battle-app .cell8D {
    top: 369px;
    left: 337px; }
  .battle-app .cell8E {
    top: 369px;
    left: 368px; }
  .battle-app .cell8F {
    top: 369px;
    left: 399px; }
  .battle-app .cell8G {
    top: 369px;
    left: 430px; }
  .battle-app .cell8H {
    top: 369px;
    left: 461px; }
  .battle-app .cell8I {
    top: 369px;
    left: 492px; }
  .battle-app .cell8J {
    top: 369px;
    left: 523px; }
  .battle-app .cell9A {
    top: 400px;
    left: 244px; }
  .battle-app .cell9B {
    top: 400px;
    left: 275px; }
  .battle-app .cell9C {
    top: 400px;
    left: 306px; }
  .battle-app .cell9D {
    top: 400px;
    left: 337px; }
  .battle-app .cell9E {
    top: 400px;
    left: 368px; }
  .battle-app .cell9F {
    top: 400px;
    left: 399px; }
  .battle-app .cell9G {
    top: 400px;
    left: 430px; }
  .battle-app .cell9H {
    top: 400px;
    left: 461px; }
  .battle-app .cell9I {
    top: 400px;
    left: 492px; }
  .battle-app .cell9J {
    top: 400px;
    left: 523px; }
  .battle-app .cell10A {
    top: 431px;
    left: 244px; }
  .battle-app .cell10B {
    top: 431px;
    left: 275px; }
  .battle-app .cell10C {
    top: 431px;
    left: 306px; }
  .battle-app .cell10D {
    top: 431px;
    left: 337px; }
  .battle-app .cell10E {
    top: 431px;
    left: 368px; }
  .battle-app .cell10F {
    top: 431px;
    left: 399px; }
  .battle-app .cell10G {
    top: 431px;
    left: 430px; }
  .battle-app .cell10H {
    top: 431px;
    left: 461px; }
  .battle-app .cell10I {
    top: 431px;
    left: 492px; }
  .battle-app .cell10J {
    top: 431px;
    left: 523px; }
  .battle-app .ship-red {
    background-image: url("../img/ship_red.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .ship-red-killed {
    background-image: url("../img/ship_red_killed.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .ship-green {
    background-image: url("../img/ship_green.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .ship-green-killed {
    background-image: url("../img/ship_green_killed.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .ship-brown {
    background-image: url("../img/ship_brown.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .ship-brown-killed {
    background-image: url("../img/ship_brown_killed.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .cell-empty {
    background-image: url("../img/empty.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .imperial-part {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url("../img/empty.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .battle-app .imperial-h {
    background-image: url("../img/imperial_killed_h.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 92px;
    height: 30px;
    z-index: 11;
    top: 369px;
    left: 368px; }
  .battle-app .imperial-v {
    background-image: url("../img/imperial_killed_v.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 92px;
    z-index: 11;
    top: 276px;
    left: 492px; }
  .battle-app .answer-timer {
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: normal; }
  .battle-app .question {
    margin: 20px 75px;
    font-size: 18px; }
  .battle-app .answers {
    margin: 0 75px 20px;
    text-align: left; }
  .battle-app .answers label {
    margin-bottom: 20px;
    font-size: 16px; }
  .battle-app .user-panel {
    color: #ee0000;
    font-family: 'Beryozki', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    width: 315px;
    height: 40px;
    top: 490px;
    left: 241px;
    border: 0 solid #fff;
    text-align: center; }
  .battle-app .connection-panel {
    font-family: 'ElektraLightPro', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    width: 315px;
    height: 40px;
    top: 540px;
    left: 241px;
    border: 0 solid #fff;
    text-align: center; }

.sl-spinner {
  margin: 20px auto 0; }

@keyframes blinker {
  50% {
    opacity: 0; } }
.chat-app {
  position: absolute;
  width: 490px;
  top: 20px;
  right: 0; }
  .chat-app form {
    padding-right: 40px; }
  .chat-app input {
    float: left;
    width: 290px;
    height: 54px;
    border: 2px dotted #fff;
    padding-left: 20px;
    outline: none; }
  .chat-app button.btn {
    float: right;
    font-family: 'ElektraLightPro', Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 27px;
    margin-left: 20px;
    height: 54px;
    width: 130px;
    font-size: 14px;
    padding-top: 5px; }
    .chat-app button.btn:hover {
      border-color: #ad7512; }
  .chat-app .message-container {
    height: 425px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px; }
    .chat-app .message-container div {
      margin-bottom: 5px; }
    .chat-app .message-container a {
      text-decoration: underline;
      display: inline-block;
      margin-right: 5px; }

.chat-init-message {
  text-align: center;
  padding-top: 100px; }

.chat-btn-history {
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 5px;
  font-size: 13px; }

.chat-user-info {
  top: 300px;
  left: 500px;
  position: absolute;
  display: none;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 90px;
  border: 2px solid #fff;
  z-index: 100;
  padding: 35px 30px 0;
  font-size: 14px; }
  .chat-user-info a {
    text-decoration: underline; }
  .chat-user-info div {
    margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
